.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bottom {
  margin: auto auto 0;
}


.block {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: auto;
}

.main {
  background: url("src/assets/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

button {
  height: 50px;
  font-size: 16px;
  transition: 0.4s ease-in-out 0.1s;
}


button:hover {
  transform: scale(1.2);
  transition:  ease-in-out 0.3s;
}
