h2, .controls, .form-control,
.expiry-date{
  display: flex;
}

.card {
  margin: 20px auto;
  max-width: 700px;
  padding: 10px;
}

h2, h5 {
  justify-content: center;
}

.controls {
  justify-content: space-between;
}

.form-control {
  width: 170px;
  margin: 15px;
  flex-direction: column;
}

.expiry-date > input {
  width: 20px;
  margin: 0 3px;
}

.reminder {
  margin: 0 auto;
  text-align: center;
}

